#file to ignoee by git
*.o
.vscode


#app of windows to ignore 
*.exe


#app of linux to ignore 
unix_list
sock_init
time_server
tcpclient
tcpserver
tcpserverchat
tcpserverfork
udpclient 
udp_recvfrom
udp_serve_toupper
udp_client_toupper
udp_serve_toupper_simple
lookup
dns_query
webclientget
webserver
webserver2
smtp_send
openssl_version
https_simple
