#file to ignoee by git
*.o
.vscode

#certif file 
cert.pem
key.pem

#app of windows to ignore 
*.exe


#app of linux to ignore 
unix_list
sock_init
time_server
tcpclient
tcpserver
tcpserverchat
tcpserverfork
udpclient 
udp_recvfrom
udp_serve_toupper
udp_client_toupper
udp_serve_toupper_simple
lookup
dns_query
webclientget
webserver
webserver2
smtp_send
openssl_version
https_simple
https_get
tls_get_cert
tls_client
tls_time_server
https_server
libssh_test
ssh_connect
ssh_auth
ssh_command
ssh_download
error_text
connect_blocking
connect_timeout
big_send
server_ignore
