#file to ignoee by git
*.o
.vscode
#app of linux to ignore 
unix_list
sock_init
time_server
tcpclient
tcpserver
tcpserverchat
tcpserverfork
udpclient 
udp_recvfrom
udp_serve_toupper
udp_client_toupper
udp_serve_toupper_simple
lookup

#app of windows to ignore 
tcpclient.exe
tcpserver.exe
tcpserverchat.exe
udpclient .exe
udp_recvfrom.exe
udp_serve_toupper.exe
udp_client_toupper.exe
udp_serve_toupper_simple.exe
lookup.exe